{% extends "base.html" %} 
{% load static %} 
{% block title %} 
    {{title}} 
{% endblock %} 
{% block body %}
<div class="container">
    <div class="row justify-content-md-center mb-3">
        <div class="col">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'images/carousel/andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg'%}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'images/carousel/leiada-krozjhen-4fc3AoQXnJQ-unsplash.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'images/carousel/leiada-krozjhen-SoRjKFk43rY-unsplash.jpg'%}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="{% static 'images/svg/undraw_open_note_gwm9.svg' %}" alt="placeholder" class="d-block w-75">
        </div>
        <div class="col-6">
            
        </div>
    </div>
    <div class="row mb-2">
        <div class="col bg-warning-subtle">
            <h3>Top Colleges</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/svg/undraw_website_ij0l.svg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}