{% extends "base.html" %} 
{% load static %} 
{% block title %} 
    {{title}} 
{% endblock %} 
{% block body %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8 bg-secondary-subtle rounded p-0">
      <div class="alert alert-info border border-0" role="alert">
            <b>
                College Data Form
            </b>
      </div>
      <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="college-name" class="form-label">College Name</label>
                    <input type="text" class="form-control" id="college-name" name="college_name" />
                </div>
                <div class="mb-3">
                    <label for="college-grade" class="form-label">Grade</label>
                    <input type="text" class="form-control" id="college-grade" name="grade"/>
                </div>
                <div class="mb-3">
                    <label for="college-admission" class="form-label">Admission</label>
                    <input type="text" class="form-control" id="college-admission" name="college-admission" />
                </div>
                <div class="mb-3">
                    <label for="course-duration" class="form-label">Course Duration</label>
                    <input type="text" class="form-control" id="course-duration" name="course-duration"/>
                </div>
                <div class="mb-3">
                    <label for="college-affiliation" class="form-label">Affiliation</label>
                    <input type="text" class="form-control" id="college-affiliation" nam="college-affiliation"/>
                </div>
                <div class="mb-3">
                    <label for="college-placement" class="form-label">College Placement</label>
                    <input type="text" class="form-control" id="college-placement" name="college-placement"/>
                </div>
                <div class="mb-3">
                    <label for="college-address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="college-address" name="college-address"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="college-about" class="form-label">About</label>
                    <input type="text" class="form-control" id="college-about" name="college-about"/>
                </div>
                <div class="mb-3">
                    <label for="college-ranking" class="form-label">Ranking</label>
                    <input type="text" class="form-control" id="college-ranking" name="college-ranking"/>
                </div>
                <div class="mb-3">
                    <label for="college-hostel" class="form-label">Hostel</label>
                    <input type="text" class="form-control" id="college-hostel" name="college-hostel"/>
                </div>
                <div class="mb-3">
                    <label for="college-rating" class="form-label">Rating</label>
                    <input type="number" class="form-control" id="college-rating" name="college-rating"/>
                </div>
                <div class="mb-3">
                    <label for="college-admission-date" class="form-label">
                        Admission Date
                    </label>
                    <input type="email" class="form-control" id="college-admission-date" name="college-admission-date"/>
                </div>
                <div class="mb-3">
                    <label for="college-admission-till-date" class="form-label">
                        Admission till date
                    </label>
                    <input
                        type="email"
                        class="form-control"
                        id="college-admission-till-date"
                        name="college-admission-till-date"
                    />
                </div>
                <div class="mb-3">
                    <label for="college-dean-name" class="form-label">Hostel</label>
                    <input type="text" class="form-control" id="college-dean-name" name="college-dean-name"/>
                </div>
            </div>
        </div>
        
        <div class="mb-3">
            <button type="button" class="btn btn-dark float-end mb-2">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
